NODE_ENV = development or production
PORT = for_example_5000
JWT_TOKEN = your_jwt_secret_key
MONGODB = your_mongodb_url
CLOUDINARY_CLOUD_NAME = your_cloudinary_cloud_name
CLOUDINARY_API_KEY = your_cloudinary_api_key
CLOUDINARY_API_SECRET = your_cloudinary_api_secret